.Menu {
	flex: 1 1 auto;
}

.menu__item {
	display: flex;
	align-items: center;
	justify-content: center;

	list-style-type: none;
	font-size: 4rem;

}

.menu__item__icon {
	height: 4rem;
	width: 4rem;
	margin-right: 2rem;

}
