.icon {
  height: 2rem;
  width: 2rem;
}

.Sheet {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  width: 100vw;

  font-family: 'Poiret One', cursive;
}

  .sheet__header {
    flex: 1 1 7rem;
    min-height: 6rem;
    max-height: 6rem;
    width: calc(100% - 4rem);
    display: flex;
    flex-direction: row;


    background-color: gray;
    padding: 1rem;
    margin-right: 1rem;
  }

    .sheet__header__logo, .sheet__header__menu {
      height: 6rem;
      width: 6rem;
    }

    .sheet__header__title {
      flex: 1 0 60vw;
      text-align: center;
    }



.sheet__main {
  flex: 1 1 auto;
  padding: 1rem;
}

.sheet__footer {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.sheet__footer >*{
  flex: 1 1 auto;
  text-align: center;
}


.Stats{
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
//  flex: 1 1 30%;
}

.Stat {
  display: flex;
  flex-direction: row;
  flex: 1 0 50%;
  align-items: baseline;

}

.Stat > * {
//  border: 1px solid green;
}

.Stat__name{
  flex: 1 1 50%;
  text-align: right;
  padding-right: 1rem;
}

.Stat__value {
  flex: 0 1 7rem;
 // min-width:25%;
  font-size: 3rem;
}

.Stat__interaction {
  flex: 1 0 20%;
  align-self: flex-start;
  justify-content:center;
}

.Create__button{
  width: 100%;
}