.icon {
  height: 2rem;
  width: 2rem;
}




.Sheet {
  display: flex;
  flex-direction: column;
  height: 100vh; 

  font-family: 'Poiret One', cursive;
}

.sheet__header {
  flex: 1 1 auto;
  min-height: 7rem;
  display: flex;
  flex-direction: row;

  background-color: gray;
  padding-top: 1rem;
}

.sheet__header__logo {
  flex: 1 0 20vw;
  height: 6rem;
  width: 6rem;
}

.sheet__header__logo svg {
  fill: white;
}

.sheet__header__title {
  flex: 1 0 60vw;
  text-align: center;

}

.sheet__header__menu {
  flex: 1 0 20vw;
  height: 6rem;
  width: 6rem;
}





.sheet__main {
  flex: 1 1 85vh;
  padding: 1rem;
}




.sheet__footer {
  flex: 1 1 auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.sheet__footer >*{
  flex: 1 1 auto;
  text-align: center;
}


.Create{
}

.Stats{
//  border: 1px solid red;
  display: flex;  
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 1 30%;
  padding-bottom: 2rem;
}

.Stat {
  display: flex;
  flex-direction: row;
  flex: 1 0 50%;
  align-items: baseline;

}

.Stat > * {
//  border: 1px solid green;
}

.Stat__name{
  flex: 1 1 50%;
  text-align: right;
  padding-right: 1rem;
}

.Stat__value {
  flex: 0 1 7rem;
 // min-width:25%;
  font-size: 3rem;
}

.Stat__interaction {
  flex: 1 0 20%;
  align-self: flex-start;
  justify-content:center;
}

.Create__button{
  width: 100%;
}